<mat-card [ngStyle]="{ 'border-color': color }">
  <mat-card-content>
    <div class="field-wrapper">
      <div class="field-title">Title</div>
      <div class="field-value bold blue">{{ card.name }}</div>
    </div>
    <div class="field-wrapper">
      <div class="field-title">Created on</div>
      <div class="field-value">{{ card.createdAt }}</div>
    </div>
    <br>
    <div class="field-wrapper">
      <div class="field-title">Priority</div>
      <div class="field-value"><app-tag [color]="tagColor">{{ card.priority }}</app-tag></div>
    </div>
    <br>
    <div class="field-wrapper">
      <div class="field-title">Assigned to</div>
      <div class="field-value">{{ card.assignedTo?.name }}</div>
    </div>
  </mat-card-content>
</mat-card>
