<div class="container">
    <form [formGroup]="formGroup">
        <mat-form-field>
            <input matInput placeholder="Column Name" formControlName="name">
            <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                Column name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Column color</mat-label>
            <mat-select formControlName="color">
                <mat-option *ngFor="let color of colors" [value]="color.value">
                    {{ color.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-icon (click)="delete()" class="delete-icon" class="delete-button">delete</mat-icon>
    </form>
</div>