<mat-list>
  <mat-list-item class="header">
    <span class="list-content">
      <span>Board Name</span>
      <span>Owner</span>
      <span>Created</span>
      <span></span>
    </span>
  </mat-list-item>
  <button mat-raised-button color="primary" (click)="createBoard()">
    New Board
  </button>
  <ng-container *ngIf="boards$ | async as boardsWithCount; else loading">
    <ng-container
      *ngFor="let board; let i = index; of: boardsWithCount.boards as boards"
    >
      <mat-list-item>
        <span class="list-content">
          <span
            ><a [routerLink]="['/board', board.id]">{{ board.name }}</a></span
          >
          <span
            ><a [routerLink]="['/profile']">{{ board.owner }}</a></span
          >
          <span>{{ board.created }}</span>
          <span class="actions">
            <a mat-icon-button [routerLink]="['/board', board.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-icon-button (click)="deleteBoard(board.id)">
              <mat-icon>delete</mat-icon>
            </a>
          </span>
        </span>
      </mat-list-item>
      <mat-divider *ngIf="i < boards.length - 1"></mat-divider>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <mat-list-item>
      <mat-spinner></mat-spinner>
    </mat-list-item>
  </ng-template>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-list>
