$color-primary-default: #023c7b;
$color-primary-light: #4666ab;
$color-primary-dark: #00174e;
$color-accent-default: #00B0D2;
$color-accent-light: #61e2ff;
$color-accent-dark: #0080a1;
$color-warn-default: #ff3400;
$color-warn-light: #ff6f38;
$color-warn-dark: #c30000;
$color-shadow: #00000029;

$color-warning-light: rgba(251, 174, 23, 0.04);
$color-warning-default: #FBAE17;

$color-info-light: #f7fdff;

$color-success: #12a221;

$color-text-gray: rgba(0,0,0,0.60);
$color-text-black: rgba(0,0,0,0.87);
$color-text-black-grey: rgba(55,66,77,0.74);

$border-color: #c5c5c5;
$step-footer-color: #ededed;
$docked-popup-header-color: $color-accent-default;
$placeholder-color: rgba(2, 60, 123, 0.64);
$color-error: #fb6363;

$color-disabled: #b0b0b0;

$color-background-light: #e2f6f9;

$gc-sapphire: #002136;
$dark-sapphire: #002C77;
$bright-sapphire: #00A8C8;
$medium-sapphire: #006D9E;
$whisper: #ECECEC;
$white: #FFFFFF;


$light-onyx: #bfbfbf;
$text-darker-light-grey: #4B4B4B99;
$text-light-grey: #C4C5C5;
$text-lighter-grey: #E1E2E2;
$text-lightest-grey: #F4F4F4;
$dim-gray: #707070;
$text-grey: #8B8D8E;
$text-medium-grey: #5F6365;
$text-medium-dark-grey: #556875;
$text-lighter-dark-grey: #4B4B4B;
$text-dark-grey: #454B4F;
$text-black-grey: #37424A;
$text-blue: #43ADEA; 
$color-blue-secondary: #2F80ED;
$text-red: #CC0000;
$text-light-red: #FFD5D8;
$text-green: #106633;
$text-light-green: #BAFFD6;
$text-aqua: #2B6662;
$text-light-aqua: #A2F5F0;
$text-purple: #CC00B8;
$text-light-purple: #FBE2FF;

$amethyst: #AD238F;
$topaz: #E89519;
$sapphire: #2259C7;
$ruby: #A72829;
$turquoise: #4D7D77;
$background-gray: #FAFAFA;
$firefly: #384443;
